{% extends 'base_back.html.twig' %}

{% block title %}Création d'un bar{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
{% endblock %}